.HomeIcons {
  width: 24px;
  height: 24px;
}

.nameTab {
  font-size: 0.85em;
  margin-left: 3px;
}

@media screen and (max-width: 767px) {
  .HomeIcons {
    width: 20px;
    height: 20px;
  }
  .nameTab {
    display: none;
  }
  .btnProfile {
    font-size: small;
  }
}

.input-group {
  position: relative;
}

.input-group .form-control {
  padding-left: 2.5rem;
  background-color: #edf3f8;
}

.input-group .form-control:focus-within {
  width: 300px;
}

.input-group .search-icon {
  z-index: 1;
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.85rem;
  color: rgb(0, 0, 0);
}

.SubsIcon {
  font-size: 0.85em;
  margin: 0;
  padding: 0;
}

.ImgProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImgProfile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#basic-nav-dropdown {
  padding: 0;
}

.coverImage {
  height: 30vh;
}

.coverImage2 {
  height: 8vh;
}

#dropdown-basic-button {
  background-color: transparent;
  border: none;
  color: black;
}

.smallertext {
  font-size: 0.85em;
}

.navbar-dropdown .dropdown-menu {
  width: 550px;
  height: 550px;
  padding: 10px;
  overflow: scroll;
}

.custom-dropdown-1 .dropdown-menu {
  width: 300px;
  overflow: hidden;
  line-height: 1.2;
}

.navbar-dropdown {
  position: absolute;
  top: 55%;
  right: 10%;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .navbar-dropdown {
    right: 6%;
    top: 25%;
  }
  .navbar-dropdown .dropdown-menu {
    width: 300px;
  }
}

.Underlined {
  text-decoration: none;
  color: gray;
  font-size: 0.9em;
}

.Underlined:hover {
  text-decoration: underline;
  color: gray;
  background-color: transparent;
}

.linksChange,
.linksChangeicon {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
}

.linksChange:hover,
.linksChangeicon:hover {
  text-decoration: underline;
  text-decoration-thickness: 1;
  text-decoration-color: #0a66c2;
}

.linksChangeicon {
  font-size: 0.85em;
}

.smallerTitle {
  font-size: 0.85em;
  color: gray;
}

.btnCamera {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: blue;
}

.btnCamera:hover {
  background-color: #cecece;
  cursor: pointer;
}

.profileImage {
  width: 100px;
  border-radius: 50px;
  position: absolute;
  top: -70px;
  left: 0;
}

.profileImage2 {
  width: 60px;
  border: 2px solid white;
  border-radius: 50px;
  position: absolute;
  top: -25px;
  left: 0;
}

.cardSide {
  border-radius: 10px;
  margin-top: 20%;
  margin-left: 30%;
}

.username {
  font-size: 0.8em;
  margin-top: 0;
}

.workplaceImage {
  width: 30px;
  border-radius: 50px;
}

.name:hover,
.btnModify:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.workplaceInfo:hover,
.username:hover,
.contactsInfo:hover {
  color: blue !important;
  text-decoration: underline;
  cursor: pointer;
}

.areaInfo {
  font-size: 0.8em;
}

.contactsInfo {
  border-left: 1px solid black;
  padding-left: 5px;
}

.profileLink {
  font-size: 0.8em;
}

.profileLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.enhanceProfileModal {
  font-size: 0.8em;
  width: 300px;
}

.addToProfileModal {
  width: 550px;
}

.profilePhotoModal,
.profilePhotoModalModify {
  max-width: 700px;
  color: white;
}

.profilePhotoModal .modal-content {
  background-color: #1b1f23;
}

.profilePic {
  margin: 20px 0;
  width: 50%;
  border-radius: 50%;
}

.footerButtons button:hover {
  background-color: #6d6c6c;
  cursor: pointer;
}

.btnProfile:hover,
.btnProfileModify:hover,
.btnTakePicture:hover,
.btnClosePhoto:hover {
  border: 2px solid blue !important;
  color: blue !important;
  background-color: rgb(224, 224, 253);
}


.btnResource:hover {
  border: 2px solid black !important;
  background-color: rgb(218, 218, 218);
}

.custom-dropdown .dropdown-item {
  width: 250px;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.custom-dropdown2 .dropdown-item {
  display: flex;
  align-items: center;
  width: 250px;
}

.custom-dropdown2 h6 {
  padding: 0.5rem;
  font-size: 0.8rem;
}
.dropdown-item {
  white-space: normal;
}

.dropdown-toggle::after {
  display: none;
}

.inputFile {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .coverImage {
    height: 15vh;
  }
}

@media screen and (min-width: 1px) and (max-width: 575px) {
  .btnResource {
    font-size: 0;
  }
  .btnResource::before {
    content: '⋯';
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .btnResource {
    font-size: 0;
  }
  .btnResource::before {
    content: '⋯';
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .coverImage {
    height: 20vh;
  }
}

.main-container {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.pencil-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pencil-icon:hover {
  background-color: #f3f3f3;
}

.pencil {
  color: black;
}

.custom-link,
.study-link {
  color: black;
  text-decoration: none;
}

.custom-link:hover,
.follower-link:hover,
.study-link:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.follower-link {
  color: #0a66c2;
  text-decoration: none;
}

.sectionpadding {
  padding: 0.5rem 1rem;
}
.footer {
  background-color: ghostwhite;
  font-size: 12px;
}
.sbfooter {
  display: flex;
  flex-direction: column;
  padding: -1;
}
.sbfooter-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.2rem 0;
}
.sbfooter-links_div {
  width: 120px;
  margin: 0.2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: black;
  align-items: flex-start;
}
a {
  color: black;
  text-decoration: none;
  font-size: 8px;
}
.sbfooter_links_div h4 {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 0.5rem;
}
.sbfooter-links_div p {
  font-size: 10px;
  line-height: 10px;
  margin: 0.2rem 0;
}
.icons-dgt {
  display: flex;
  align-items: center;
  margin: auto0.5rem 0;
  gap: 0.5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0;
  width: 16px;
  height: 12px;
}
.Ask-Modi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Ask-Modi h5 {
  font-size: 10px;
  margin: 0;
  line-height: 12px;
}
.Ask-Modi p {
  font-size: 10px;
  margin: 0;
  padding: 0.2rem;
  line-height: 12px;
}
select {
  font-size: 10px;
  padding: 0.2rem;
  margin-top: 0.5rem;
}
.absolute {
  text-align: center;
  font-size: 10px;
  margin-top: 0.1rem;
}

.divVuoto {
  height: 5vh;
}

.nameCardSide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem !important;
  padding: 0 !important;
}

.azienda {
  height: 3vh;
  padding: 0 !important;
  font-size: 0.7rem;
}

.workplaceImage2 {
  width: 10px;
  border-radius: 50px;
}

.azienda:hover {
  text-decoration: none !important;
  color: #6d6c6c;
  cursor: pointer;
}

.premium {
  font-size: 0.9rem;
  color: #000000df;
  font-weight: 600;
}

.premium:hover {
  color: #0a66c2;
  cursor: pointer;
}

.premiumTitle {
  font-size: 0.8rem !important;
  color: #0909094a;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkAlbero {
  font-size: 1rem;
  cursor: pointer;
}

.collegamenti {
  font-size: 0.9rem;
}

.espandi {
  font-size: 0.8rem;
  color: #000000a9;
}
.linkAlbero:hover,
.espandi:hover,
.collegamenti:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bioText {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.736);
}

.HomeIcons {
  width: 24px;
  height: 24px;
}

.nameTab {
  font-size: 0.85em;
  margin-left: 3px;
}

@media screen and (max-width: 767px) {
  .HomeIcons {
    width: 20px;
    height: 20px;
  }
  .nameTab {
    display: none;
  }
}

.input-group {
  position: relative;
}

.input-group .form-control {
  padding-left: 2.5rem;
  background-color: #edf3f8;
}

.input-group .form-control:focus-within {
  width: 300px;
}

.input-group .search-icon {
  z-index: 1;
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.85rem;
  color: rgb(0, 0, 0);
}

.SubsIcon {
  font-size: 0.85em;
  margin: 0;
  padding: 0;
}

.ImgProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ImgProfile img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#basic-nav-dropdown {
  padding: 0;
}

.coverImage {
  height: 30vh;
}

.coverImage2 {
  height: 8vh;
}

#dropdown-basic-button {
  background-color: transparent;
  border: none;
  color: black;
}

.smallertext {
  font-size: 0.85em;
}

.navbar-dropdown .dropdown-menu {
  width: 550px;
  height: 550px;
  padding: 10px;
  overflow: scroll;
}

.custom-dropdown-1 .dropdown-menu {
  width: 300px;
  overflow: hidden;
  line-height: 1.2;
}

.navbar-dropdown {
  position: absolute;
  top: 55%;
  right: 10%;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .navbar-dropdown {
    right: 6%;
    top: 25%;
  }
  .navbar-dropdown .dropdown-menu {
    width: 300px;
  }
}

.Underlined {
  text-decoration: none;
  color: gray;
  font-size: 0.9em;
}

.Underlined:hover {
  text-decoration: underline;
  color: gray;
  background-color: transparent;
}

.linksChange,
.linksChangeicon {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 1em;
  line-height: 1;
}

.linksChange:hover,
.linksChangeicon:hover {
  text-decoration: underline;
  text-decoration-thickness: 1;
  text-decoration-color: #0a66c2;
}

.linksChangeicon {
  font-size: 0.85em;
}

.smallerTitle {
  font-size: 0.85em;
  color: gray;
}

.btnCamera {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  width: 30px;
  height: 30px;
  padding: 5px;
  color: blue;
}

.btnCamera:hover {
  background-color: #cecece;
  cursor: pointer;
}

.profileImage {
  width: 100px;
  border-radius: 50px;
  position: absolute;
  top: -70px;
  left: 0;
}

.profileImage2 {
  width: 60px;
  border: 2px solid white;
  border-radius: 50px;
  position: absolute;
  top: -25px;
  left: 0;
}

.cardSide {
  border-radius: 10px;
  margin-top: 20%;
  margin-left: 30%;
}

.username {
  font-size: 0.8em;
  margin-top: 0;
}

.workplaceImage {
  width: 30px;
  border-radius: 50px;
}

.name:hover,
.btnModify:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.workplaceInfo:hover,
.username:hover,
.contactsInfo:hover {
  color: blue !important;
  text-decoration: underline;
  cursor: pointer;
}

.areaInfo {
  font-size: 0.8em;
}

.contactsInfo {
  border-left: 1px solid black;
  padding-left: 5px;
}

.profileLink {
  font-size: 0.8em;
}

.profileLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.enhanceProfileModal {
  font-size: 0.8em;
  width: 300px;
}

.addToProfileModal {
  width: 550px;
}

.profilePhotoModal,
.profilePhotoModalModify {
  max-width: 700px;
  color: white;
}

.profilePhotoModal .modal-content {
  background-color: #1b1f23;
}

.profilePic {
  margin: 20px 0;
  width: 50%;
  border-radius: 50%;
}

.footerButtons button:hover {
  background-color: #6d6c6c;
  cursor: pointer;
}

.btnResource:hover {
  border: 2px solid black !important;
  background-color: rgb(218, 218, 218);
}

.custom-dropdown .dropdown-item {
  width: 250px;
  padding: 0.5rem;
  font-size: 0.8rem;
}

.custom-dropdown2 .dropdown-item {
  display: flex;
  align-items: center;
  width: 250px;
}

.custom-dropdown2 h6 {
  padding: 0.5rem;
  font-size: 0.8rem;
}
.dropdown-item {
  white-space: normal;
}

.dropdown-toggle::after {
  display: none;
}

.inputFile {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .coverImage {
    height: 15vh;
  }
}

@media screen and (min-width: 1px) and (max-width: 575px) {
  .btnResource {
    font-size: 0;
  }
  .btnResource::before {
    content: '⋯';
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .btnResource {
    font-size: 0;
  }
  .btnResource::before {
    content: '⋯';
    font-size: 1rem;
  }
}

@media screen and (max-width: 1200px) {
  .coverImage {
    height: 20vh;
  }
}

.main-container {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.pencil-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.pencil-icon:hover {
  background-color: #f3f3f3;
}

.pencil {
  color: black;
}

.custom-link,
.study-link {
  color: black;
  text-decoration: none;
}

.custom-link:hover,
.follower-link:hover,
.study-link:hover {
  color: #0a66c2;
  text-decoration: underline;
}

.follower-link {
  color: #0a66c2;
  text-decoration: none;
}

.sectionpadding {
  padding: 0.5rem 1rem;
}
.footer {
  background-color: ghostwhite;
  font-size: 12px;
}
.sbfooter {
  display: flex;
  flex-direction: column;
  padding: -1;
}
.sbfooter-links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.2rem 0;
}
.sbfooter-links_div {
  width: 120px;
  margin: 0.2rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  color: black;
  align-items: flex-start;
}
a {
  color: black;
  text-decoration: none;
  font-size: 8px;
}
.sbfooter_links_div h4 {
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 0.5rem;
}
.sbfooter-links_div p {
  font-size: 10px;
  line-height: 10px;
  margin: 0.2rem 0;
}
.icons-dgt {
  display: flex;
  align-items: center;
  margin: auto0.5rem 0;
  gap: 0.5rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0;
  width: 16px;
  height: 12px;
}
.Ask-Modi {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Ask-Modi h5 {
  font-size: 10px;
  margin: 0;
  line-height: 12px;
}
.Ask-Modi p {
  font-size: 10px;
  margin: 0;
  padding: 0.2rem;
  line-height: 12px;
}
select {
  font-size: 10px;
  padding: 0.2rem;
  margin-top: 0.5rem;
}
.absolute {
  text-align: center;
  font-size: 10px;
  margin-top: 0.1rem;
}

.divVuoto {
  height: 5vh;
}

.nameCardSide {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2rem !important;
  padding: 0 !important;
}

.azienda {
  height: 3vh;
  padding: 0 !important;
  font-size: 0.7rem;
}

.workplaceImage2 {
  width: 10px;
  border-radius: 50px;
}

.azienda:hover {
  text-decoration: none !important;
  color: #6d6c6c;
  cursor: pointer;
}

.premium {
  font-size: 0.9rem;
  color: #000000df;
  font-weight: 600;
}

.premium:hover {
  color: #0a66c2;
  cursor: pointer;
}

.premiumTitle {
  font-size: 0.8rem !important;
  color: #0909094a;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkAlbero {
  font-size: 1rem;
  cursor: pointer;
}

.collegamenti {
  font-size: 0.9rem;
}

.espandi {
  font-size: 0.8rem;
  color: #000000a9;
}
.linkAlbero:hover,
.espandi:hover,
.collegamenti:hover {
  text-decoration: underline;
  cursor: pointer;
}

.bioText {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.736);
}

.jobAside:hover {
  background-color: #f3f3f3;
  cursor: pointer;
  text-decoration: underline;
}

.jobFooter p,
.jobFooter span {
  font-size: 0.7rem !important;
}

.jobFooter p:hover {
  text-decoration: underline;
  color: #0a66c2 !important;
  cursor: pointer;
}
